
@{
    ViewBag.Title = "Trang Đặt Bàn";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="body-wrapper">
    <!-- ===================page banner============ -->
    <div class="page-banner" data-background="/Assets/KhachHang/assets/img/page-ban-bg.png">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="page-ban-content">
                    <h1 class="page-head" data-aos="fade-up" data-aos-duration="1000">Trang Đặt Bàn</h1>
                    <div class="breadcrumb-list" data-aos="fade-up" data-aos-duration="1500">
                        <a href="index.html.htm" class="page-route-link">Home</a>
                        <span class="devider">/</span>
                        <span>Đặt Bàn</span>

                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end -->
    </div>
    <!-- ===================page banner end============ -->
    <!-- ===========contact============ -->
    <h1>Nội dung trang yêu cầu đặt bàn</h1>
    <!-- ========================contact================== -->
</div>