@{
    ViewBag.Title = "Kho Không Đáp Ứng";
    Layout = "~/Areas/NhanVienKho/Views/Shared/_LayoutNhanVienKho.cshtml";
}

<h2>Số lượng nguyên liệu trong kho không đáp ứng đủ số lượng cần xuất kho</h2>
<span>Vui lòng nhập thêm nguyên liệu để xuất</span>