
@{
    ViewBag.Title = "Bạn Nhập Sản Phẩm Bị Trùng";
    Layout = "~/Areas/NhanVienKho/Views/Shared/_LayoutNhanVienKho.cshtml";
}

<h2>Xin lỗi! Bạn đã nhập 2 lần nguyên liệu trong một lần nhập</h2>
<span>Lưu ý: Trong mỗi lần nhập kho không nên nhập trùng sản phẩm</span>

