<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Nhập - Khách Hàng</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Assets/Login/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Assets/Login/css/style.css">
</head>
<body>
    <div class="main">

        <!-- Form Đăng Nhập -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Assets/Login/images/Login_img.jpg" alt="sing up image"></figure>
                        <a href="/KhachHang/DangNhap/DangKy" class="signup-image-link">Tạo mới tài khoản</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Đăng Nhập</h2>
                        @using (Ajax.BeginForm("DangNhap", "DangNhap", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }, new { @class = "register-form", id = "login-form" }))
                        {
                            <div class="ThongBao" id="ThongBao">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            </div>

                            <div class="form-group">
                                <label for="sTaiKhoan"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="sTaiKhoan" id="sTaiKhoan" placeholder="Tài khoản" />
                            </div>
                            <div class="form-group">
                                <label for="sMatKhau"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="sMatKhau" id="sMatKhau" placeholder="Mật Khẩu" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Ghi nhớ tài khoản</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng Nhập" />
                            </div>
                        }
                        <div class="social-login">
                            <span class="social-label">Đăng nhập với</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Assets/Login/vendor/jquery/jquery.min.js"></script>
</body>
</html>