
@{
    ViewBag.Title = "Không Đáp Ứng";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

<h2>Lỗi: Số lượng nguyên liệu trong kho không đủ đáp ứng với món ăn Order</h2>
<span>Vui lòng báo nhân viên kho để tiến hành nhập thêm sản phẩm</span>

