
@{
    ViewBag.Title = "Không Thành Công";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

<h2>Món ăn muốn xóa không được thực hiện, Xem lại có tham chiếu khóa ngoại đến hóa đơn hay không</h2>

