
@{
    ViewBag.Title = "Trang Sự Kiện";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}

<!-- ===================page banner============ -->
<div class="page-banner" data-background="/Assets/KhachHang/assets/img/page-ban-bg.png">
    <!-- container  -->
    <div class="container">
        <!-- row  -->
        <div class="row">
            <div class="page-ban-content">
                <h1 class="page-head" data-aos="fade-up" data-aos-duration="1000">SỰ KIỆN</h1>
                <div class="breadcrumb-list" data-aos="fade-up" data-aos-duration="1500">
                    <a href="/KhachHang/Home/Index" class="page-route-link">Trang Chủ</a>
                    <span class="devider">/</span>
                    <span>Sự Kiện</span>

                </div>
            </div>
        </div>
        <!-- row end  -->
    </div>
    <!-- container end -->
</div>
<!-- ===================page banner end============ -->
<!-- ====================Pricing section============= -->
<section>
    <!-- pricing  -->
    <div class="pricing pricing-2 theme-1 cpy-6">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="form-head" data-aos="fade-up" data-aos-duration="1000">
                    <div class="section-head text-center mb-40">
                        <span class="sm-title"> SỰ KIỆN </span>
                        <h2 class="sec-title"> SỰ KIỆN CHÚNG TÔI </h2>
                    </div>
                </div>
            </div>
            <!-- row end  -->
            <!-- pricing card sec  -->
            <div class="pricing-card-sec">
                <!-- row  -->
                <div class="row pricing-row">
                    <div class="col-md-4 col-sm-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="pricing-card">
                            <h4 class="plan-name">BUFFER GIÁ RẼ </h4>
                            <h2 class="plan-price"><sup class="currency-type"></sup>50k<sub class="package-time">/ng</sub></h2>
                            <ul class="future-list">
                                <li>
                                    <p>Khuyến mãi có hạn</p>
                                </li>
                                <li>
                                    <p>Đồng giá tất cả mọi lứa tuổi</p>
                                </li>
                                <li>
                                    <p>Được áp dụng trong tháng 12</p>
                                </li>
                                <li>
                                    <p>Trên mọi chi nhánh Cần Thơ</p>
                                </li>
                                <li>
                                    <p>Có thể mang về</p>
                                </li>
                            </ul>
                            <a href="pricing.html.htm" class="custom-btn-alt">THAM GIA NGAY</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 aos-init aos-animate z-1" data-aos="fade-up" data-aos-duration="1500">
                        <div class="pricing-card active">
                            <h4 class="plan-name">Pro</h4>
                            <h2 class="plan-price"><sup class="currency-type"> </sup>500k<sub class="package-time">/couple</sub></h2>
                            <ul class="future-list">
                                <li>
                                    <p>Dành cho 2 người</p>
                                </li>
                                <li>
                                    <p>Áp dụng trong tuần lễ vàng</p>
                                </li>
                                <li>
                                    <p>Giảm 20% đặt lịch trước 2h</p>
                                </li>
                                <li>
                                    <p>Trên mọi chi nhánh Cần Thơ</p>
                                </li>
                                <li>
                                    <p>Khuyến mãi thêm nước uống</p>
                                </li>
                            </ul>
                            <a href="" class="custom-btn-alt">THAM GIA NGAY</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                        <div class="pricing-card">
                            <h4 class="plan-name">VIP</h4>
                            <h2 class="plan-price"><sup class="currency-type"> </sup>1tr<sub class="package-time">/5ng</sub></h2>
                            <ul class="future-list">
                                <li>
                                    <p>Ăn uống tẹt ga</p>
                                </li>
                                <li>
                                    <p>Chỉ áp dụng trong gia đình</p>
                                </li>
                                <li>
                                    <p>Trên mọi chi nhánh cần thơ</p>
                                </li>
                                <li>
                                    <p>Khuyến mãi voucher 30% giá trị mỗi món cho lần sau</p>
                                </li>
                                <li>
                                    <p>Áp dụng cho T&, CN hằng tuần</p>
                                </li>
                            </ul>
                            <a href="" class="custom-btn-alt">THAM GIA NGAY</a>
                        </div>
                    </div>
                </div>
                <!-- row end  -->
            </div>
            <!-- pricing card sec  -->
        </div>
        <!-- container end  -->
    </div>
    <!-- pricing end  -->
</section>
<!-- ====================Pricing section end============= -->