@using QuanLyNhaHang.Models
@model List<MonAn>
@{
    ViewBag.Title = "Danh Sách Món Ăn";
    Layout = "~/Areas/NhanVienKho/Views/Shared/_LayoutNhanVienKho.cshtml";
}
<style>
</style>
<div class="container" id="DanhSachMonAn">
    <div class="page-title-container">
        <div class="row g-0">
            <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                    <h1 class="mb-0 pb-0 display-4" id="title">Danh Sách Món Ăn</h1>
                </div>
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-plus"><path d="M10 17 10 3M3 10 17 10"></path></svg>
                    <span>Thêm Mới Món Ăn</span>
                </button>
            </div>
        </div>
    </div>
    <!-- #region Tìm kiếm -->
    <div class="row mb-2">
        <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
            <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
                <input class="form-control search" placeholder="Tìm kiếm">
                <span class="search-magnifier-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-search"><circle cx="9" cy="9" r="7"></circle><path d="M14 14L17.5 17.5"></path></svg>
                </span>
                <span class="search-delete-icon d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-close"><path d="M5 5 15 15M15 5 5 15"></path></svg>
                </span>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-3 mb-5 list">
        <!-- #region List Món Ăn -->
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="row g-0 sh-16 sh-sm-17">
                        <div class="col-auto h-100 position-relative">
                            <img src="~/Assets/img/AnhMonAn/@item.HinhAnh" alt="@item.TenMonAn" class="card-img card-img-horizontal h-100 sw-11 sw-sm-16 sw-lg-22">
                        </div>
                        <div class="col p-0">
                            <div class="card-body d-flex align-items-center h-100 py-3">
                                <div class="mb-0 h6">
                                    <a href="/NhanVienKho/MonAn/XemChiTiet?iMaMonAn=@item.MaMonAn" class="body-link stretched-link">
                                        <span class="clamp-line sh-3 lh-1-5 tenMonAn" data-line="1" style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;">
                                            @item.TenMonAn
                                        </span>
                                    </a>
                                    <div class="card-text mb-2 GiaBan">
                                        <div>@string.Format("{0:0,0}", item.DonGia) vnđ</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*<ul class="pagination list-book-pagination"></ul>*@
        <!-- #endregion -->
    </div>
    <!-- #region Phân Trang -->
    <div class="w-100 d-flex justify-content-center"><nav><ul class="pagination"></ul></nav></div>
    <!-- #endregion -->
</div>
<script type="text/javascript">
    var options = {
        valueNames: ['tenMonAn', 'GiaBan'],
        page: 12,
        pagination: true
    };
    var userList = new List('DanhSachMonAn', options);
</script>