USE [master]
GO
/****** Object:  Database [QuanLyNhaHang]    Script Date: 05/10/2023 22:24:31 ******/
CREATE DATABASE [QuanLyNhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHang.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHang_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NOT NULL,
	[SoGhe] [int] NOT NULL DEFAULT ((4)),
	[Vip] [int] NULL DEFAULT ((0)),
	[TinhTrang] [int] NULL DEFAULT ((0)),
	[MaTang_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon_id] [int] NOT NULL,
	[MaMonAn_id] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[NgayGoi] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon_id] ASC,
	[MaMonAn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaNguyenLieu_id] [int] NOT NULL,
	[MaPhieuNhap_id] [int] NOT NULL,
	[SoLuongNhap] [float] NULL DEFAULT ((0)),
	[GiaNhap] [float] NOT NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu_id] ASC,
	[MaPhieuNhap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaMonAn_id] [int] NOT NULL,
	[MaNguyenLieu_id] [int] NOT NULL,
	[SoLuongDung] [float] NOT NULL DEFAULT ((0)),
	[Tru] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaMonAn_id] ASC,
	[MaNguyenLieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL CONSTRAINT [DF__HoaDon__TenKhach__5441852A]  DEFAULT (N'Khach Hang A'),
	[SDTKhachHang] [varchar](10) NULL,
	[TongHoaDon] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF__HoaDon__NgayTao__5535A963]  DEFAULT (getdate()),
	[NgayThanhToan] [datetime] NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TongTien] [float] NOT NULL,
	[TrangThai] [int] NULL CONSTRAINT [DF__HoaDon__TrangTha__5629CD9C]  DEFAULT ((0)),
	[MaBan_id] [int] NULL,
 CONSTRAINT [PK__HoaDon__835ED13B19FCDE5C] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoanTra]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoanTra](
	[MaHoanTra] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoanTra] [datetime] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoanTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuGoiMon]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGoiMon](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[SoLuongTra] [int] NULL,
	[ThoiGianGoi] [datetime] NULL DEFAULT (getdate()),
	[ThoiGianTra] [datetime] NULL DEFAULT (getdate()),
	[MaHoaDon_id] [int] NULL,
	[MaMonAn_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[MaLMA] [int] IDENTITY(1,1) NOT NULL,
	[TenLMA] [nvarchar](100) NOT NULL,
	[TongSoLuong] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaLMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiNguyenLieu]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNguyenLieu](
	[MaLNL] [int] IDENTITY(1,1) NOT NULL,
	[TenLNL] [nvarchar](100) NOT NULL,
	[TongSoLuong] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaLNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](255) NOT NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[DonGia] [float] NULL DEFAULT ((0)),
	[NgayCapNhat] [date] NULL DEFAULT (getdate()),
	[ThongTin] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoLuongDaBan] [int] NULL DEFAULT ((0)),
	[MaNMA_id] [int] NULL,
	[MaLMA_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](200) NOT NULL,
	[SoLuongHienCon] [float] NULL DEFAULT ((0)),
	[GhiChu] [nvarchar](255) NULL,
	[GiaNhapCuoi] [float] NOT NULL DEFAULT ((0)),
	[MaLNL_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguyenLieuTra]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuTra](
	[MaHoanTra_id] [int] NOT NULL,
	[MaNguyenLieu_id] [int] NOT NULL,
	[SoLuongXuat] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoanTra_id] ASC,
	[MaNguyenLieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguyenLieuXuat]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuXuat](
	[MaXuatKho_id] [int] NOT NULL,
	[MaNguyenLieu_id] [int] NOT NULL,
	[SoLuongXuat] [float] NULL CONSTRAINT [DF__NguyenLie__SoLuo__68487DD7]  DEFAULT ((0)),
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK__NguyenLi__AA75F991E3C77BBC] PRIMARY KEY CLUSTERED 
(
	[MaXuatKho_id] ASC,
	[MaNguyenLieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[TaiKhoanNV] [varchar](50) NOT NULL,
	[MatKhauNV] [varchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](10) NULL,
	[MaQuyen_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhomMonAn]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomMonAn](
	[MaNMA] [int] IDENTITY(1,1) NOT NULL,
	[TenNMA] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [date] NULL DEFAULT (getdate()),
	[TongTien] [float] NULL DEFAULT ((0)),
	[TaiKhoanNV_id] [varchar](50) NULL,
	[MaNCC_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tang]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tang](
	[MaTang] [int] IDENTITY(1,1) NOT NULL,
	[TenTang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XuatKho]    Script Date: 05/10/2023 22:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[MaXuatKho] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL DEFAULT (getdate()),
	[NgayXuat] [datetime] NULL,
	[TongTien] [float] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaXuatKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TenBan], [SoGhe], [Vip], [TinhTrang], [MaTang_id]) VALUES (1, N'1 VIP', 8, 1, 0, 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [SoGhe], [Vip], [TinhTrang], [MaTang_id]) VALUES (2, N'2 VIP', 8, 1, 0, 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [SoGhe], [Vip], [TinhTrang], [MaTang_id]) VALUES (3, N'3 VIP', 16, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Ban] OFF
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon_id], [MaMonAn_id], [SoLuongMua], [ThanhTien], [NgayGoi]) VALUES (36, 1, 2, 10000, CAST(N'2023-10-05 21:30:29.580' AS DateTime))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon_id], [MaMonAn_id], [SoLuongMua], [ThanhTien], [NgayGoi]) VALUES (36, 4, 1, 30000, CAST(N'2023-10-05 21:30:29.580' AS DateTime))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon_id], [MaMonAn_id], [SoLuongMua], [ThanhTien], [NgayGoi]) VALUES (37, 1, 14, 80000, CAST(N'2023-10-05 21:30:29.580' AS DateTime))
INSERT [dbo].[ChiTietPhieuNhap] ([MaNguyenLieu_id], [MaPhieuNhap_id], [SoLuongNhap], [GiaNhap], [ThanhTien]) VALUES (13, 1, 10, 12000, 120000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaNguyenLieu_id], [MaPhieuNhap_id], [SoLuongNhap], [GiaNhap], [ThanhTien]) VALUES (15, 1, 10, 11000, 110000)
INSERT [dbo].[ChiTietSanPham] ([MaMonAn_id], [MaNguyenLieu_id], [SoLuongDung], [Tru]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ChiTietSanPham] ([MaMonAn_id], [MaNguyenLieu_id], [SoLuongDung], [Tru]) VALUES (2, 4, 0.4, 1)
INSERT [dbo].[ChiTietSanPham] ([MaMonAn_id], [MaNguyenLieu_id], [SoLuongDung], [Tru]) VALUES (2, 5, 0.2, 0)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SDTKhachHang], [TongHoaDon], [NgayTao], [NgayThanhToan], [GhiChu], [TongTien], [TrangThai], [MaBan_id]) VALUES (36, N'KHACH HANG A', N'0123456789', 1, CAST(N'2021-12-13 10:57:43.870' AS DateTime), CAST(N'2023-10-05 21:33:45.487' AS DateTime), NULL, 40000, 0, 18)
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SDTKhachHang], [TongHoaDon], [NgayTao], [NgayThanhToan], [GhiChu], [TongTien], [TrangThai], [MaBan_id]) VALUES (37, N'KHACH HANG A', N'0123456789', 1, CAST(N'2021-12-13 11:51:39.773' AS DateTime), CAST(N'2023-10-05 21:31:27.970' AS DateTime), NULL, 1144000, 0, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SDTKhachHang], [TongHoaDon], [NgayTao], [NgayThanhToan], [GhiChu], [TongTien], [TrangThai], [MaBan_id]) VALUES (39, N'KHACH HANG A', N'0123456789', 2, CAST(N'2021-12-13 11:52:12.380' AS DateTime), CAST(N'2023-10-05 21:33:16.223' AS DateTime), NULL, 40000, 0, 5)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[LichSuGoiMon] ON 

INSERT [dbo].[LichSuGoiMon] ([MaLichSu], [SoLuongMua], [SoLuongTra], [ThoiGianGoi], [ThoiGianTra], [MaHoaDon_id], [MaMonAn_id]) VALUES (134, 8, 0, CAST(N'2021-12-13 11:51:39.837' AS DateTime), NULL, 37, 1)
INSERT [dbo].[LichSuGoiMon] ([MaLichSu], [SoLuongMua], [SoLuongTra], [ThoiGianGoi], [ThoiGianTra], [MaHoaDon_id], [MaMonAn_id]) VALUES (138, 4, 0, CAST(N'2021-12-13 11:52:12.397' AS DateTime), NULL, 39, 1)
INSERT [dbo].[LichSuGoiMon] ([MaLichSu], [SoLuongMua], [SoLuongTra], [ThoiGianGoi], [ThoiGianTra], [MaHoaDon_id], [MaMonAn_id]) VALUES (139, 0, 3, NULL, CAST(N'2021-12-13 11:52:15.837' AS DateTime), 39, 1)
SET IDENTITY_INSERT [dbo].[LichSuGoiMon] OFF
SET IDENTITY_INSERT [dbo].[LoaiMonAn] ON 

INSERT [dbo].[LoaiMonAn] ([MaLMA], [TenLMA], [TongSoLuong]) VALUES (1, N'Khai Vị', 7)
INSERT [dbo].[LoaiMonAn] ([MaLMA], [TenLMA], [TongSoLuong]) VALUES (2, N'Món Gà', 2)
INSERT [dbo].[LoaiMonAn] ([MaLMA], [TenLMA], [TongSoLuong]) VALUES (3, N'Món Heo', 4)
SET IDENTITY_INSERT [dbo].[LoaiMonAn] OFF
SET IDENTITY_INSERT [dbo].[LoaiNguyenLieu] ON 

INSERT [dbo].[LoaiNguyenLieu] ([MaLNL], [TenLNL], [TongSoLuong]) VALUES (1, N'Hải Sản', 9)
INSERT [dbo].[LoaiNguyenLieu] ([MaLNL], [TenLNL], [TongSoLuong]) VALUES (2, N'Rau Củ Quả', 18)
INSERT [dbo].[LoaiNguyenLieu] ([MaLNL], [TenLNL], [TongSoLuong]) VALUES (3, N'Gia Vị', 10)
SET IDENTITY_INSERT [dbo].[LoaiNguyenLieu] OFF
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [HinhAnh], [DonGia], [NgayCapNhat], [ThongTin], [MoTa], [SoLuongDaBan], [MaNMA_id], [MaLMA_id]) VALUES (1, N'Khăn Lạnh', N'KhanLanh.jpg', 10000, CAST(N'2021-12-10' AS Date), N'Khăn lau miệng việt tiệp', N'<p>Khăn lau cho mọi người</p>', 0, 5, 11)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuongHienCon], [GhiChu], [GiaNhapCuoi], [MaLNL_id]) VALUES (1, N'Khăn Lạnh', 100, N'Khăn lạnh dùng để lau miệng', 5000, 5)
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuongHienCon], [GhiChu], [GiaNhapCuoi], [MaLNL_id]) VALUES (4, N'Cá Lóc', 5.9999999999999973, N'Cá lóc hải sản', 100000, 1)
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuongHienCon], [GhiChu], [GiaNhapCuoi], [MaLNL_id]) VALUES (5, N'Hành Lá', 50, N'Gia vị hàng lá', 10000, 2)
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
INSERT [dbo].[NguyenLieuXuat] ([MaXuatKho_id], [MaNguyenLieu_id], [SoLuongXuat], [DonGia], [ThanhTien]) VALUES (5, 58, 1, 12000, 12000)
INSERT [dbo].[NguyenLieuXuat] ([MaXuatKho_id], [MaNguyenLieu_id], [SoLuongXuat], [DonGia], [ThanhTien]) VALUES (11, 11, 0.5, 80000, 40000)
INSERT [dbo].[NguyenLieuXuat] ([MaXuatKho_id], [MaNguyenLieu_id], [SoLuongXuat], [DonGia], [ThanhTien]) VALUES (11, 12, 0.01, 40000, 400)
GO
SET IDENTITY_INSERT [dbo].[NhaCC] ON 

INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (1, N'Cung Cấp Hải Sản Tươi Biển Gọi', N'Hà Nội', N'0971024568')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (2, N'Cung Cấp Rau Sạch DaLatVegatable', N'Đà Lạt', N'0971024568')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (3, N'Cung Cấp Gia Vị Trường An', N'Hà Nội', N'0971024568')
SET IDENTITY_INSERT [dbo].[NhaCC] OFF
INSERT [dbo].[NhanVien] ([TaiKhoanNV], [MatKhauNV], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaQuyen_id]) VALUES (N'kho', N'abc123', N'Nhân Viên Kho', CAST(N'1998-08-08' AS Date), N'0974542845', 2)
INSERT [dbo].[NhanVien] ([TaiKhoanNV], [MatKhauNV], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaQuyen_id]) VALUES (N'nhanvien', N'abc123', N'Nhân Viên', CAST(N'1998-02-08' AS Date), N'0123654875', 1)
INSERT [dbo].[NhanVien] ([TaiKhoanNV], [MatKhauNV], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaQuyen_id]) VALUES (N'NhanVienA', N'abc123', N'Nhân Viên', CAST(N'1998-02-08' AS Date), N'0123654875', 2)
SET IDENTITY_INSERT [dbo].[NhomMonAn] ON 

INSERT [dbo].[NhomMonAn] ([MaNMA], [TenNMA]) VALUES (1, N'Món Chay')
INSERT [dbo].[NhomMonAn] ([MaNMA], [TenNMA]) VALUES (2, N'Món Việt')
INSERT [dbo].[NhomMonAn] ([MaNMA], [TenNMA]) VALUES (3, N'Món Nhật')
SET IDENTITY_INSERT [dbo].[NhomMonAn] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [TongTien], [TaiKhoanNV_id], [MaNCC_id]) VALUES (1, CAST(N'2021-12-13' AS Date), 230000, N'kho', 3)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [GhiChu]) VALUES (1, N'Nhân Viên', N'Nhân viên sử dụng phần mềm để order')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [GhiChu]) VALUES (2, N'Nhân Viên Kho', N'Nhân viên sử dụng phần mềm để quản lý kho')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [GhiChu]) VALUES (3, N'Nhân Viên Admin', N'Nhân viên sử dụng phần mềm để quản lý nhân viên và nhân viên kho')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
SET IDENTITY_INSERT [dbo].[Tang] ON 

INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (1, N'Tầng 1')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (2, N'Tầng 2')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (3, N'Tầng 3')
SET IDENTITY_INSERT [dbo].[Tang] OFF
SET IDENTITY_INSERT [dbo].[XuatKho] ON 

INSERT [dbo].[XuatKho] ([MaXuatKho], [NgayNhap], [NgayXuat], [TongTien]) VALUES (5, CAST(N'2021-12-10 12:09:48.660' AS DateTime), CAST(N'2021-12-10 12:09:48.660' AS DateTime), 12000)
INSERT [dbo].[XuatKho] ([MaXuatKho], [NgayNhap], [NgayXuat], [TongTien]) VALUES (11, CAST(N'2021-12-10 14:45:19.767' AS DateTime), CAST(N'2021-12-10 12:09:48.660' AS DateTime), 40400)
INSERT [dbo].[XuatKho] ([MaXuatKho], [NgayNhap], [NgayXuat], [TongTien]) VALUES (13, CAST(N'2021-12-10 15:19:25.647' AS DateTime), CAST(N'2021-12-10 12:09:48.660' AS DateTime), 5000)
SET IDENTITY_INSERT [dbo].[XuatKho] OFF
ALTER TABLE [dbo].[HoanTra] ADD  DEFAULT (getdate()) FOR [NgayHoanTra]
GO
ALTER TABLE [dbo].[HoanTra] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[NguyenLieuTra] ADD  DEFAULT ((0)) FOR [SoLuongXuat]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD FOREIGN KEY([MaTang_id])
REFERENCES [dbo].[Tang] ([MaTang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__MaHoa__5AEE82B9] FOREIGN KEY([MaHoaDon_id])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__MaHoa__5AEE82B9]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaMonAn_id])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNguyenLieu_id])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap_id])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaMonAn_id])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaNguyenLieu_id])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaBan_id__571DF1D5] FOREIGN KEY([MaBan_id])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaBan_id__571DF1D5]
GO
ALTER TABLE [dbo].[LichSuGoiMon]  WITH CHECK ADD FOREIGN KEY([MaMonAn_id])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[LichSuGoiMon]  WITH CHECK ADD  CONSTRAINT [FK__LichSuGoi__MaMon__60A75C0F] FOREIGN KEY([MaHoaDon_id])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[LichSuGoiMon] CHECK CONSTRAINT [FK__LichSuGoi__MaMon__60A75C0F]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MaLMA_id])
REFERENCES [dbo].[LoaiMonAn] ([MaLMA])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MaNMA_id])
REFERENCES [dbo].[NhomMonAn] ([MaNMA])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([MaLNL_id])
REFERENCES [dbo].[LoaiNguyenLieu] ([MaLNL])
GO
ALTER TABLE [dbo].[NguyenLieuTra]  WITH CHECK ADD FOREIGN KEY([MaHoanTra_id])
REFERENCES [dbo].[HoanTra] ([MaHoanTra])
GO
ALTER TABLE [dbo].[NguyenLieuTra]  WITH CHECK ADD FOREIGN KEY([MaNguyenLieu_id])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[NguyenLieuXuat]  WITH CHECK ADD  CONSTRAINT [FK__NguyenLie__MaNgu__6A30C649] FOREIGN KEY([MaNguyenLieu_id])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[NguyenLieuXuat] CHECK CONSTRAINT [FK__NguyenLie__MaNgu__6A30C649]
GO
ALTER TABLE [dbo].[NguyenLieuXuat]  WITH CHECK ADD  CONSTRAINT [FK__NguyenLie__MaXua__693CA210] FOREIGN KEY([MaXuatKho_id])
REFERENCES [dbo].[XuatKho] ([MaXuatKho])
GO
ALTER TABLE [dbo].[NguyenLieuXuat] CHECK CONSTRAINT [FK__NguyenLie__MaXua__693CA210]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaQuyen_id])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC_id])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([TaiKhoanNV_id])
REFERENCES [dbo].[NhanVien] ([TaiKhoanNV])
GO
USE [master]
GO
