@using QuanLyNhaHang.Models

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <!-- ==============favicon=============== -->
    <link rel="shortcut icon" type="image/png" href="~/Assets/KhachHang/assets/img/log.png">

    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/font/icofont.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/animation/aos.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/nouislider.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/assets/css/responsive.css">
</head>

<body>
    <!-- #region Nút gọi điện -->
    <a href="tel:0346923002" class="call-button"><img src="~/Assets/KhachHang/assets/img/phone.gif" alt="Phone Icon" width="50" height="50"></a>
    <!-- #endregion -->

    <!-- ======preloader==== -->
    <div id="preloader">
        <div class="loader3">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- ======preloader==== -->
    <!-- ====main wrapper == -->
    <div class="wrapper">
        <!-- header  -->
        <header>
            <div class="header header-default">
                <!-- container  -->
                <div class="container">
                    <!-- header inner -->
                    <div class="header-inner">
                        <div class="logo">
                            <a href="/KhachHang/Home/Index"><img src="~/Assets/KhachHang/assets/img/logo/logo.png" alt="Logo not found" class="logo-img"></a>
                        </div>
                        <div class="header-right">
                            <div class="header-menu d-none d-lg-block">
                                <nav class="cf-header-menu" id="header-menu">
                                    <ul>
                                        <li><a href="/KhachHang/Home/Index">Trang Chủ</a></li>
                                        <li class="has-submenu">
                                            <a href="#">Thực Đơn</a>
                                            <ul class="submenu">
                                                <li><a href="#">Thực Đơn 1</a></li>
                                                <li><a href="#">Thực Đơn 2</a></li>
                                                <li><a href="#">Thực Đơn 3</a></li>
                                                <li><a href="#">Thực Đơn 4</a></li>
                                                <li><a href="#">Thực Đơn 5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Không Gian</a></li>
                                        <li><a href="#">Đặt Bàn</a></li>
                                        <li><a href="/KhachHang/About/SuKien">Sự Kiện</a></li>
                                        <li><a href="/KhachHang/About/LienHe">Liên Hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-search-phone d-none d-lg-block ml-35">
                                <a href="#" class="header-search" id="search"><span class="icofont-search-1"></span></a>
                                @if (Session["KhachHang"] != null)
                                {
                                    HoaDon KH = (HoaDon)Session["KhachHang"];
                                    <a href="/KhachHang/MonAn/HoaDon?phonenumber=@KH.SDTKhachHang" class="header-phone">
                                        <img src="~/Assets/KhachHang/assets/img/icon/call.png" alt="Image not found" class="contact-icon"> @KH.TenKhachHang
                                    </a>
                                }
                                else
                                {
                                    <a href="/KhachHang/DangNhap/DangNhap" class="header-phone">
                                        <img src="~/Assets/KhachHang/assets/img/icon/call.png" alt="Image not found" class="contact-icon"> Đăng Nhập
                                    </a>
                                }
                            </div>
                            <div class="d-lg-none dr-navbar-mobile-sign side-toggle">
                                <!-- <span class="headeer-navigaiton"><i class="icofont-navigation-menu"></i></span> -->
                                <div class="dr-navbar-sign menu-tab">
                                    <span class="dr-line-1"></span>
                                    <span class="dr-line-2"></span>
                                    <span class="dr-line-3"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- header inner end  -->
                    <div class="search-form-wrapper">
                        <form action="#">
                            <div class="p-1 bg-light search-form shadow-sm mt-3" id="searchForm">
                                <div class="input-group">
                                    <input type="search" placeholder="What're you searching for?" class="form-control search-input border-0 bg-light">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- container end  -->
            </div>
            <!-- nav end -->
        </header>
        <!-- header end  -->
        <!-- dr-sidebar-information-area-start -->
        <div class="dr-sidebar-info side-info">
            <div class="dr-sidebar-logo-wrapper mb-25">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-8">
                        <div class="dr-sidebar-logo">
                            <a href="index.html.htm"><img src="~/Assets/KhachHang/assets/img/logo/logo.png" alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="dr-sidebar-close-wrapper text-end">
                            <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dr-sidebar-menu-wrapper fix">
                <div class="cf-header-menu"></div>
            </div>

            <div class="dr-sidebar-btn-wrap mt-40">
                <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
                <a href="#"><i class="icofont-ui-user"></i></a>
            </div>

            <div class="dr-sidebar-contact-wrapper mt-40">
                <div class="dr-sidebar-contact mb-40">
                    <h4 class="dr-sidebar-contact-title">Contact Info</h4>
                    <span class="sidebar-address"><i class="icofont-google-map"></i><span>4929 Thorn Street Crow heart, WY 82512</span> </span>
                    <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+1 (251) 410-1010</span></a>
                    <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>example@gmail.com</span></span></a>
                </div>

                <div class="dr-sidebar-social mt-40 mb-30">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- dr-sidebar-information-area-end -->
        <!-- =======================body wrapper========= -->
        <div class="body-wrapper">
            <!-- #region NỘI DUNG -->
            @RenderBody()
            <!-- #endregion -->
            <!-- ========================Footer ============= -->
            <footer>
                <!-- footer section  -->
                <div class="footer-section footer-1" data-background="/Assets/KhachHang/assets/img/footer-bg.png">
                    <!-- container  -->
                    <div class="container">
                        <!-- row  -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 smpadright40" data-aos="fade-up" data-aos-duration="1000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-logo mb-4">
                                        <img src="/Assets/KhachHang/assets/img/logo/logo-white.png" alt="">
                                    </div>
                                    <p>Chào mừng bạn đến với Cafeu</p>
                                    <ul class="address">
                                        <li>
                                            <span class="icofont-location-pin"></span>
                                            <p class="address-info">3 Tháng 2, Xuân Khánh, Ninh Kiều, Cần Thơ</p>
                                        </li>

                                        <li>
                                            <span class="icofont-email"></span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="mailto:nfo@example.com">cafeu@gmail.com</a></p>
                                            </div>
                                        </li>

                                        <li>
                                            <span class="icofont-ui-call"> </span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="tel:+123456679123">0346923002</a></p>
                                                @*<p class="address-info"><a href="tel:+123456789">+123 456 789</a></p>*@
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 padleft40" data-aos="fade-up" data-aos-duration="1500">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Menu</h4>
                                    </div>
                                    <ul class="qu-link">
                                        <li class="foot-list"><a href="#" class="footer-link">Trang Chủ</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Không Gian</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Đặt Bàn</a></li>
                                        <li class="foot-list"><a href="/KhachHang/About/SuKien" class="footer-link">Sự Kiện</a></li>
                                        <li class="foot-list"><a href="/KhachHang/About/LienHe" class="footer-link">Liên Hệ</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 padright40" data-aos="fade-up" data-aos-duration="2000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Instagram</h4>
                                    </div>
                                    <ul class="insta-feed">
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/1.png" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/2.png" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/3.png" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/4.png" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/5.png" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="https://www.instagram.com/" class="footer-link"><img src="~/Assets/KhachHang/assets/img/instagram/6.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2" data-aos="fade-up" data-aos-duration="2500">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Nhận Thông Báo</h4>
                                    </div>

                                    <p class="subscribe-des">
                                        Nhập thông tin email bên dưới để biết chương trình khuyến mãi của chúng tôi
                                    </p>

                                    <form class="hero-form" action="#">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control subscribtion-input" placeholder="Nhập email">
                                            <button type="submit" class="custom-btn"><span class="icofont-location-arrow"></span></button>
                                        </div>
                                    </form>
                                    <ul class="social-ul">
                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-facebook"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-twitter"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-skype"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-instagram"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- row end  -->
                    </div>
                    <!-- container end  -->
                </div>
                <!-- footer section end  -->
            </footer>
            <!-- ========================Footer end============= -->
        </div>
        <!-- =======================body wrapper end========= -->

    </div>

    <!-- ====main wrapper end == -->
    <!-- ======script======= -->
    <!-- =====jquery===== -->
    <script src="~/Assets/KhachHang/assets/js/jquery/jquery.min.js"></script>
    <!-- =====bootstrap===== -->
    <script src="~/Assets/KhachHang/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- ======slider===== -->
    <script src="~/Assets/KhachHang/assets/js/swiper/swiper-bundle.min.js"></script>
    <!-- ========nice select======== -->
    <script src="~/Assets/KhachHang/assets/js/jquery.nice-select.min.js"></script>
    <!-- ===============animation========= -->
    <script src="~/Assets/KhachHang/assets/js/animation/aos.js"></script>
    <script src="~/Assets/KhachHang/assets/js/meanmenu.js"></script>
    <!-- ======custom script====== -->
    <!-- ======mixitup======= -->
    <script src="~/Assets/KhachHang/assets/js/mixitup/mixitup.min.js"></script>
    <script src="~/Assets/KhachHang/assets/js/nouislider.js"></script>
    <!-- ======mixitup======= -->
    <script src="~/Assets/KhachHang/assets/js/app.js"></script>
    <!-- ========mixitup init========= -->

</body>

</html>